.App {
  text-align: center;
  justify-content:center;
  background-image: url('./images/download.jpeg');
  background-size:contain;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field {
  display: flex;
  align-items: center;
}

.form-field label {
  
  flex: 1;
}

.form-field input {
  
flex: 2;
}
.form {
   .li {
  list-style-type: decimal;
}
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
